@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-biosys-bg text-biosys-text antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
